body {
  font-family: "Montserrat", sans-serif;
  background: #1d1d1c;
  cursor: pointer;
}

.max-widht {
  max-width: 1440px;
  margin: 0 auto;
}

#overflo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9995;
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.sign-up {
  display: none;
  justify-content: center;
  align-items: center;
  width: 85%;
  background-color: #3b3b3b;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 20px;
  z-index: 9999;
}

.wrapper_img-close {
  display: flex;
  justify-content: flex-end;
}

.close-img {
  width: 20px;
  height: 20px;
}

.sing_up-title {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 18px;
}

.sing_up-text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 10px;
}

.sing_up_input_name,
.sing_up_input_phone,
.sing_up_input_inform {
  background-color: #3b3b3b;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 25px;
}

.sing_up_input_inform {
  height: calc(2 * 20px);
}

.wrapper-send {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #df7f7f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 10px;
}

.send-link-img {
  width: 100%;
  max-width: 30px;
  height: auto;
  margin-left: 10px;
}

.accept-sign-up {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  color: #fff;
  width: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 20px;
  z-index: 9999;
}

.wrapper_img-close {
  display: flex;
  justify-content: flex-end;
}

.accept-close-img {
  width: 20px;
  height: 20px;
}

.accept-sing_up-title {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;
  color: #ffffff;
}

.accept-sing_up-text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.wrapper_img-sing-up {
  display: flex;
  justify-content: center;
}

.img-sing-up {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* Хедер  */

.header {
  background: linear-gradient(
      90.4deg,
      rgba(29, 29, 28, 0.82) 9.44%,
      rgba(29, 29, 28, 0) 90.47%
    ),
    linear-gradient(
      90.4deg,
      rgba(29, 29, 28, 0.82) 9.44%,
      rgba(29, 29, 28, 0) 90.47%
    );
}

.header_block-hr {
  position: relative;
  top: 60px;
  display: none;
  height: 100%;
  border: 1px solid #3b3b3b;
}

/* Задаємо стилі верхньому блоку із Логотипом */

.header_wrapper {
  background: radial-gradient(
    264.15% 3352.09% at 66.53% -132.26%,
    #1d1d1c 0%,
    rgba(54, 54, 53, 0.094775) 69.99%,
    rgba(29, 29, 28, 0.1) 100%
  );
}

.header_block-logo {
  padding-top: 23px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

/* Створюємо меню бургер яке є випадаючим */

.wrapper_checkbox {
  display: none;
}

.wrapper_button-line:nth-child(1).js-active {
  transform: rotate(45deg);
  top: 8px;
}

.wrapper_button-line:nth-child(2).js-active {
  opacity: 0;
}

.wrapper_button-line:nth-child(3).js-active {
  transform: rotate(-45deg);
  top: -10px;
}

.wrapper_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
}

.wrapper_button-line {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  margin: 3px 0;
  position: relative;
  transition: all 0.1s linear 0.2s;
  cursor: pointer;
}

.wrapper_menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 55%;
  background: #1d1d1c;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 100px 0 35px;
  transition: right 0.4s;
  border-bottom-left-radius: 30px;
  z-index: 2;
}

.wrapper_menu.js-active {
  display: flex;
}

.wrapper_menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  padding: 5px 10px;
  transition: all 0.2s linear;
}

.wrapper_menu-link:hover {
  padding-left: 5px;
}

/* Стілизіуєме блок із фото та текстом */

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.block_inform-images {
  width: 100%;
  min-height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90.4deg,
      rgba(29, 29, 28, 0.82) 9.44%,
      rgba(29, 29, 28, 0) 90.47%
    ),
    linear-gradient(
      90.4deg,
      rgba(29, 29, 28, 0.82) 9.44%,
      rgba(29, 29, 28, 0) 90.47%
    );
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  padding: 20px;
}

.header_block_inform-tittle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.header_block_inform-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 15px;
}

.header_block_inform-btn {
  font-size: 16px;
  padding: 10px 20px;
  background: #c00000;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}

.header_block_inform-btn:hover {
  box-shadow: rgba(77, 4, 4, 0.9) 0px 4px 12px inset;
}

.block_inform-positions {
  display: none;
}
/* Ховаємо список телефонів, назву фірми та блок із меню при розмірі у 320px */

.name-organization {
  display: none;
}

.header_block-phone {
  display: none;
}

.header-block-menu {
  display: none;
}

/* Секція програми лоялності */

.loyalty_program-list {
  display: flex;
  flex-wrap: wrap;
}

.program_list-item {
  z-index: 1;
  width: 50%;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
  margin: 18px 0;
}

.img-loyalty {
  margin: 5px auto;
}

/* Блок із сервісом */

.service_block-inform {
  margin-top: 40px;
}

.service_inform-tittle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  text-transform: uppercase;
}

.service_inform-text-one {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 25px;
}

.service_block-btn {
  display: none;
}

.service_inform-text-two {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 25px;
}

.js_service_text-two {
  margin-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 25px;
}

.service_block-slider {
  position: relative;
  display: flex;
}

.service_slider-img {
  width: 100%;
  border-radius: 10px;
}

.service_slider-arrow-left {
  position: absolute;
  top: 50%;
  left: 5%;
  background: #737373;
  opacity: 1;
  padding: 10px;
  border-radius: 6px;
}

.service_slider-arrow-right {
  position: absolute;
  top: 50%;
  left: 86%;
  background: #737373;
  opacity: 1;
  padding: 10px;
  border-radius: 6px;
}

.js-service_block-btn {
  display: flex;
  justify-content: center;
  background: #c00000;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px;
  margin: 0 auto;
}

.js-service_block-btn:hover {
  box-shadow: rgba(77, 4, 4, 0.9) 0px 4px 12px inset;
}

.wrapper_service-gallery-img {
  display: none;
}

.service_inform-text_bottom {
  display: none;
}

/* Блок реставрації */

.restoration {
  margin-top: 120px;
  background: #3b3b3b;
  height: 355px;
}

.restoration-main_img {
  position: relative;
  display: flex;
  margin: 0 auto;
  bottom: 100px;
  border: 20px solid #3b3b3b;
  border-radius: 50%;
}

.restoration_inform {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 90px;
}

.restoration-inform_tittle {
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.restoration-list_item {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 6px;
}

.restoration-list_img {
  margin-right: 4px;
}

.restoration-btn {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 15px;
  background: #c00000;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
}

.restoration-btn:hover {
  box-shadow: rgba(77, 4, 4, 0.9) 0px 4px 12px inset;
}

/* Стилізуємо блок із запчастинами */

.right-image.img-map-none {
  display: none;
}

.wrapper_container-min-width {
  margin-top: 36px;
}

.parts-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

.parts-text-top {
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  color: #ffffff;
  margin-bottom: 10px;
}

.parts-text-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  color: #ffffff;
  margin-bottom: 25px;
}

.right-image {
  display: flex;
  justify-content: end;
  margin-bottom: 11px;
}

.wrapper-parts_new_mail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.mail-text {
  margin-left: 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 133%;
  color: #ffffff;
}

.parts-btn {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 15px;
  background: #c00000;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
}

/* Блок із контактами */

.contact {
  position: relative;
  margin-top: 40px;
  margin-bottom: 36px;
}

.wrapper-contact {
  display: flex;
  justify-content: center;
}

.wrapper_contact-inform {
  margin-bottom: 10px;
}

.contact_inform-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 30px;
}

.block_inform-clock-work {
  display: flex;
  margin-bottom: 10px;
}

.clock-work_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 10px;
}

.contact_inform-location {
  display: flex;
  margin-bottom: 10px;
}

.inform_location-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 10px;
}

.contact_inform-phone {
  display: flex;
}

.wrapper_block-phone {
  margin-bottom: 10px;
}

.list_contact-phone {
  margin-top: 27px;
  margin-bottom: 23px;
}

.contact-phone {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  margin-left: 10px;
}

.contact_inform-mail {
  display: flex;
  margin-bottom: 10px;
}

.contact_inform_link-mail {
  margin-left: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.contact_inform-pay {
  display: flex;
  margin-bottom: 20px;
}

.contact_inform-pay_text {
  margin-left: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
}

.contact_inform-map {
  border-radius: 20px;
  width: 100%;
}

/* Футер */

.footer {
  background: radial-gradient(
    72.16% 72.16% at 49.31% 46.75%,
    #3b3b3b 30.78%,
    rgba(59, 59, 59, 0) 100%
  );
}

.wrapper_footer-map {
  display: none;
}

.wrapper_footer-inform {
  display: flex;
  justify-content: space-around;
}

.wrapper_footer-contact {
  margin-top: 22px;
}

.footer_logo-text {
  display: flex;
  margin-bottom: 25px;
}

.footer_name-logo {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 5px;
}

.footer_item-contact {
  margin-bottom: 15px;
}

.footer-work_text {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}

.footer_phone-img {
  display: none;
}

.footer_mail-img {
  display: none;
}

.footer-phone {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}

.footer-mail {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
}

.footer_list_link-pages {
  margin-top: 75px;
}

.footer_item-pages {
  margin-bottom: 10px;
}

.footer_link-pages {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}

@media (min-width: 768px) {
  /* Форма */

  .accept-sign-up {
    width: 45%;
  }

  .sign-up {
    width: 45%;
  }

  /* Добавляємо та стилізуємо назву організації при розмірі більше 768px */

  .block_logo-name {
    display: flex;
  }

  .name-organization {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 3px;
    margin-left: 5px;
  }

  /* Показуємо першив телефон при розмірі більше ніч 768px */

  .header_block-phone {
    position: relative;
    display: flex;
    top: -20px;
    left: 15%;
  }

  .header_phone-link {
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #c00000;
    margin-left: 5px;
  }

  .header_phone-item:nth-child(3) {
    display: none;
  }

  .header_phone-item:nth-child(4) {
    display: none;
  }

  /*  Стилізуємо блок фото із текстом для розміру 768px  */

  .background {
    height: 104.5%;
  }

  .header_block_inform-tittle {
    font-size: 40px;
    line-height: 49px;
    width: 485px;
  }

  .header_block_inform-text {
    font-size: 20px;
    line-height: 24px;
    width: 485px;
    padding-top: 5px;
    margin-bottom: 20px;
  }

  .flex-content-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  .block_inform-positions {
    display: block;
    position: absolute;
    left: 90%;
  }

  .block_inform-circle {
    padding: 15px;
    background: #737373;
    border-radius: 7px;
    opacity: 0.8;
    margin-bottom: 20%;
  }

  .block_inform-circle:hover {
    background: #c00000;
    box-shadow: rgba(77, 4, 4, 0.9) 0px 4px 12px inset;
  }

  /* Секція програми лоялності розмір більше ніж 768px */

  .loyalty_program-list {
    display: flex;
    flex-wrap: nowrap;
    background: #3b3b3b;
    border-radius: 20px;
  }

  /* Стилізація блока сервіс при розмірі в 768px */

  .js_service_text-two {
    display: none;
  }

  .js-service_block-btn {
    display: none;
  }

  .wrapper_service_block-text {
    background: #3b3b3b;
    border-radius: 20px;
    padding: 1px;
    margin-bottom: 30px;
  }

  .service_inform-tittle {
    text-align: start;
    padding: 26px 0 22px 16px;
  }

  .service_inform-text-one {
    font-weight: 400;
    font-size: 16px;
    line-height: 133%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px;
  }

  .service_inform-text-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 133%;
    margin: 0 0 22px 16px;
  }

  .service_inform-text-two {
    display: block;
  }

  .service_block-btn {
    display: flex;
    justify-content: center;
    width: 35%;
    background: #c00000;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 16px;
  }

  .service_block-btn:hover {
    box-shadow: rgba(77, 4, 4, 0.9) 0px 4px 12px inset;
  }

  .service_slider-arrow-left {
    padding: 15px;
  }

  .service_slider-arrow-right {
    padding: 15px;
    left: 92%;
  }

  /*    Блок ревставрації */

  .restoration {
    height: 290px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .wrapper-restoration {
    display: flex;
    justify-content: space-evenly;
  }

  .restoration_inform {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    top: 30px;
  }

  .restoration-main_img {
    bottom: 30px;
    margin: 0;
    width: 43%;
    height: 350px;
    border: 40px solid #3b3b3b;
  }

  .restoration_inform {
    top: 30px;
  }

  .restoration-inform_tittle {
    font-size: 24px;
  }

  .restoration-list_item {
    font-size: 16px;
    margin-bottom: 11px;
  }

  /* Стилізуємо блок із запчастинами */

  .wrapper_container-min-width {
    display: flex;
    justify-content: space-between;
    width: 55%;
  }

  .left-block {
    position: relative;
    border-radius: 20px;
    background-color: #3b3b3b;
    flex-grow: 1;
    padding: 15px;
    box-sizing: border-box;
  }

  .parts-title {
    text-align: start;
    font-size: 24px;
  }

  .parts-text-top {
    font-size: 16px;
    width: 80%;
  }

  .parts-text-bottom {
    font-size: 16px;
    width: 75%;
  }

  .right-image {
    flex-shrink: 0;
    margin-left: 25px;
  }

  .parts_map-img {
    position: absolute;
    left: 75%;
    width: 100%;
    top: 15%;
    height: auto;
  }

  .mail-text {
    font-size: 16px;
    width: 55%;
  }

  .wrapper-parts_new_mail {
    justify-content: start;
  }

  .parts-btn {
    width: 60%;
  }
  .parts-btn:hover {
    box-shadow: rgba(77, 4, 4, 0.9) 0px 4px 12px inset;
  }

  /*  Блок із контактами  */

  .wrapper-flex-contact {
    display: flex;
    justify-content: space-between;
  }

  .wrapper-contact {
    background: #3b3b3b;
    border-radius: 20px;
    width: 48%;
    padding: 7px;
    display: block;
  }

  .wrapper_contact-inform {
    margin-top: 40px;
    margin-left: 10px;
  }

  .wrapper_contact-map {
    width: 48%;
  }

  .contact_inform-title {
    text-align: start;
    font-size: 24px;
  }

  .clock-work_text {
    font-size: 16px;
  }

  .inform_location-text {
    font-size: 16px;
  }

  .contact-phone {
    font-size: 14px;
  }

  .contact_inform_link-mail {
    font-size: 16px;
  }

  .contact_inform-pay_text {
    font-size: 16px;
  }

  /* Футер */

  .footer_logo-text {
    align-items: center;
  }

  .footer_list_link-pages {
    display: none;
  }

  .wrapper_footer-contact {
    display: flex;
    justify-content: space-around;
  }

  .footer_phone-img {
    display: block;
  }

  .footer_mail-img {
    display: block;
  }

  .footer_item-contact {
    display: flex;
    margin-right: 5px;
  }

  .wrapper_footer-inform {
    display: block;
  }

  .footer_name-logo {
    font-size: 20px;
    line-height: 25px;
  }

  .footer-work_text {
    font-size: 14px;
  }

  .footer-phone {
    font-size: 14px;
    margin-left: 5px;
  }

  .footer-mail {
    font-size: 14px;
    margin-left: 5px;
  }
}

@media (min-width: 1024px) {
  /* Форма */

  .sing_up-title {
    font-size: 20px;
  }

  .sing_up-text {
    font-size: 17px;
  }

  .close-img {
    width: 35px;
    height: 35px;
  }

  .wrapper-send {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .accept-sign-up {
    width: 25%;
  }

  .accept-close-img {
    width: 35px;
    height: 35px;
  }

  .accept-sing_up-title {
    font-size: 17px;
  }

  .accept-sing_up-text {
    font-size: 14px;
  }

  /* Змінюємо фон */

  .header_wrapper {
    background: linear-gradient(
      265.66deg,
      #1d1d1c 48.98%,
      rgba(29, 29, 28, 0) 68.6%
    );
  }

  /*Стилізуємо риску біля логотипа при розмірі 1024px*/

  .header_block-logo {
    padding-bottom: 0;
  }

  .logo_block-hr {
    position: relative;
    display: flex;
    border: 1px solid #3b3b3b;
    height: 61px;
    bottom: 25px;
    left: 10px;
  }

  /* Ховаємо бургер меню при розмірі більше ніж 1024px */

  .wrapper-dropdown {
    display: none;
  }

  /*  Добавляємо останій телефон */

  .header_block-phone {
    left: 0;
  }

  .header_phone-item:nth-child(3) {
    margin-left: 10px;
    display: block;
  }

  .header_phone-item:nth-child(4) {
    display: block;
  }

  .header_block-hr {
    position: relative;
    top: 60px;
    display: flex;
    height: 100%;
    border: 1px solid #3b3b3b;
  }

  /* Добавляємо меню та стилізуємо його при розмірі 1024px */

  .header-block-menu {
    display: block;
  }

  .header_menu-list {
    display: flex;
    justify-content: end;
  }

  .header_menu-item {
    margin-left: 5%;
    margin-bottom: 2%;
  }

  .header_menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }

  .header_menu-item:nth-child(1) {
    border-bottom: 2px solid #daa640;
  }

  .header_menu-link:hover {
    color: #c00000;
  }

  /*   Стилізуємо блок сервіс при розмірі в 1024 px */

  .service_block-slider {
    display: none;
  }

  .wrapper_service_block-text {
    width: 60%;
  }

  .service_inform-tittle {
    font-size: 32px;
    line-height: 120%;
  }

  .service_inform-text-one {
    font-size: 17px;
    line-height: 133%;
  }

  .service_inform-text-two {
    font-size: 17px;
    line-height: 133%;
  }

  .service_block-btn {
    font-size: 14px;
    line-height: 24px;
  }

  .wrapper_service-gallery-img {
    position: relative;
    left: 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 60%;
    top: -100px;
  }

  .service-gallery_img-one {
    grid-column: 1 / 2;
    margin-top: 110%;
    border-radius: 20px;
  }

  .wrapper_service_colum-one {
    grid-column: 2 / 3;
  }

  .wrapper_service_colum-two {
    grid-column: 3 / 4;
  }

  .service-gallery_img-six {
    grid-column: 4 / 5;
    margin-top: 80%;
  }

  .service_colum-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 16px;
  }

  .service-gallery_img-six {
    border-radius: 20px;
  }

  .colum_one-img {
    border-radius: 20px;
    grid-column: 1 / 3;
  }

  .colum_two-img {
    border-radius: 20px;
    grid-column: 1 / 3;
  }

  .colum-one-item-one {
    margin-top: 65%;
  }

  .service_inform-text_bottom {
    display: block;
    position: relative;
    top: -100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    color: #fff;
    border-radius: 25px;
    padding: 20px;
    background-color: #3b3b3b;
    width: 45%;
  }

  /* Стилі для блоку реставрації при розмірі в 1024px */

  .restoration {
    height: 350px;
  }

  .restoration-main_img {
    width: 450px;
    height: 420px;
  }

  .restoration_inform {
    top: 45px;
  }

  .restoration-inform_tittle {
    font-size: 32px;
  }

  .restoration-list_item {
    font-size: 20px;
  }

  /*  Стилі для блоку запчастин при розмірі в 1024px  */

  .parts {
    margin-top: 100px;
  }

  .parts-title {
    font-size: 32px;
  }

  .parts-text-top {
    font-size: 20px;
  }

  .parts-text-bottom {
    font-size: 20px;
  }
  .mail-text {
    font-size: 20px;
  }

  /* Блок контакти */

  .contact {
    margin-top: 15%;
  }

  .wrapper_contact-map {
    width: 48%;
  }

  .wrapper-contact {
    width: 48%;
  }

  .contact_inform-title {
    font-size: 32px;
  }

  .clock-work_text {
    font-size: 20px;
  }

  .inform_location-text {
    font-size: 20px;
  }

  .contact-phone {
    font-size: 18px;
  }

  .contact_inform_link-mail {
    font-size: 20px;
  }

  .contact_inform-pay_text {
    font-size: 20px;
  }

  /* Футер */

  .footer-work_text {
    font-size: 16px;
  }

  .footer-phone {
    font-size: 16px;
  }

  .footer-mail {
    font-size: 16px;
  }

  .wrapper_footer-map {
    display: block;
    margin-top: 20px;
  }

  .footer_inform-map {
    width: 100%;
    height: 85%;
    border-radius: 20px;
  }
}
